{
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "always-multline",
    "eqeqeq": false,
    "no-underscore-dangle": false,
    "no-undef": false,
    "no-unused-vars": false,
    "quotes": "single",
    "strict": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
